doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 13
    link(rel='stylesheet', href='./css/d-13.css')
  body
    #function
      h1 Drill 13
      input(type="text")#value
      button#button Sum Pow Odds
      span.sum Sum
      span.pro Product

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-13.js')
