doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Share/Price
    link(rel='stylesheet', href='./css/d-17.css')
  body
    h1 Share/Price
    #controls
      input#shares(type='text' placeholder='number of shares')
      input#symbol(type='text' placeholder='stock symbol')
      button#get Get Position
    #quote

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-17.js')
