doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 22
    link(rel='stylesheet', href='./css/d-22.css')
  body
    h1 Weather Demo
    #controls
      input#zip(type='number' placeholder='Enter 1 zipcode')
      button#get Get Weather
    #weather
    #weatherchart

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src="http://www.amcharts.com/lib/3/amcharts.js")
    script(src="http://www.amcharts.com/lib/3/serial.js")
    script(src="http://www.amcharts.com/lib/3/themes/none.js")
    script(src='./js/source/d-22.js')
