doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 26
    link(rel='stylesheet', href='./css/d-26.css')
  body
    h1 10 Day Forcast
    #controls
      input#zip(type='number' placeholder='Enter a zipcode')
      button#get Get Forcast
    span#chartdiv

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-26.js')
